Flask
pandas
pandas_profiling
numpy
seaborn
matplotlib.pyplot
warnings
os
plotly.graph_objects
plotly.io
pickle
esample
accuracy_score
classification_report
confusion_matrix
auc
roc_curve
train_test_split
cross_val_score
KFold
Pipeline
make_pipeline
GridSearchCV
RFE
MinMaxScaler
StandardScaler
Normalizer
Binarizer
LabelEncoder
LinearDiscriminantAnalysis
LogisticRegression
GaussianNB
SVC
KNeighborsClassifier
DecisionTreeClassifier
RandomForestClassifier
BaggingClassifier
AdaBoostClassifier
GradientBoostingClassifier
xtraTreesClassifier